@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Agbalumo';
    src: url('../public/font/Agbalumo-Regular.ttf');
}

.banner{
    background-color: #770000;
    flex: auto;
    width: 100%;
    height: 100px;
    display: block;
    margin: 0;
    padding: 0;
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;

}