/* General Styles */
/* body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    color: #333;
} */

a {
    text-decoration: none;
    color: inherit;
}

p {
    line-height: 1.6;
}

/* Header */
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #282c34;
    color: #61dafb;
}

.header h1 {
    font-size: 3em;
    margin: 0;
}

/* Product Description */
.productDescription {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 1.1em;
    color: #282c34;
}

.productDescription p {
    margin: 0;
    padding: 0;
}

/* Currency Container */
.currency-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px auto;
    padding: 20px;
    max-width: 800px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: #282c34;
}

/* Currency Box */
.currency-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
}

.currency-box h2 {
    font-size: 2em;
    margin: 0 0 10px;
}

/* Selection Table */
.selectionTable {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 10px;
    border: 2px solid #61dafb;
    border-radius: 8px;
    background-color: #282c34;
    color: #61dafb;
}

.input-box {
    padding: 10px;
    margin: 10px;
    border-radius: 8px;
}

/* User Input */
.user-input {
    display: flex;
    flex-direction: column;
    background-color: #fefefe;
    border-bottom: 1px solid #ccc;
    padding: 20px;
    margin: 10px;
    font-size: 1.1em;
    border-radius: 8px;
}

.user-input select,
.user-input input,
.user-input option {
    padding: 10px;
    margin: 10px 0;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.user-input label {
    padding: 10px;
    font-size: 1.2em;
    text-align: center;
    font-weight: bold;
}

/* Conversion Box */
.conversion-box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 20px;
    border-radius: 8px;
    background-color: #282c34;
    color: #61dafb;
}

.conversion-box p {
    font-size: 2.5em;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    text-align: center;
}

/* Conversion Button */
.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 10px;
}

.curr-button {
    padding: 10px 20px;
    margin: 10px;
    font-size: 1.2em;
    background-color: #61dafb;
    color: #282c34;
    border: 1px solid #ccc;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.curr-button:hover {
    background-color: #282c34;
    color: #61dafb;
}

/* Media Queries */
@media (max-width: 600px) {
    .header h1 {
        font-size: 2em;
    }

    .currency-box h2 {
        font-size: 1.5em;
    }

    .conversion-box p {
        font-size: 1.8em;
    }

    .curr-button {
        font-size: 1em;
    }
}
