
@font-face {
    font-family: 'Poppins-Bold';
    src: url('../public/font/Poppins-Bold.ttf');
}
@font-face {
    font-family: 'Ubuntu-Regular';
    src: url(
      '/font/Ubuntu-Regular.ttf'
    ) format('truetype'
    );
  }
  
  @font-face {
    font-family: 'Ubuntu-Bold';
    src: url(
      '/font/Ubuntu-Bold.ttf'
    ) format('truetype'
    );
  }
  
  @font-face {
    font-family: 'Ubuntu-Medium';
    src: url(
      '/font/Ubuntu-Medium.ttf'
    ) format('truetype'
    );
  }

body {
    font-family: 'Ubuntu-Regular';
    background-color: #282c34;
    color: #fff;
    margin: 0;
    padding: 0;
    width: 100%;
}

.searchBar{
    width: 100%;
    height: auto;
    display: block;
}

/* Navbar */
.nav {
    display: flex;
    background-color: #434343;

    font-family: 'Ubuntu-Bold';
    padding: 0 1rem;
    border-bottom: #282c34;
    z-index: 1;
}

.nav-container{
    display: flex;
    width: 100%;
    margin: 10px;
    padding: 10px;
}
  
.nav-content{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.nav-content ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.nav-item {
    justify-content: space-between;
    margin: 10px;
    padding: 10px;
    font-size: 1.5rem;
}
.nav-item a {
    color: #fff;
    font-size: 35px;
    text-transform: capitalize;
    text-decoration: none;
}

.nav-item a:hover {
color: red;
}

.mobileNav{
    display: none;
}


.HamburgerMenu{
    position: absolute;
    right: 2%;
    cursor: pointer;
}

/* Footer */
.footer-container {
    display: flex;
    background-color: #434343;
    justify-content: center;
    font-family: 'Agbalumo';
    padding: 0 1rem;
    width: 100%;
}
.footer-container ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.footer-container ul li {
    justify-content: space-between;
    margin: 10px;
    padding: 10px;
    font-size: 1.5rem;
}
.footer-list li a {
    color: #fff;
    text-transform: capitalize;
    text-decoration: none;
}


/* Responsive Design */



@media (max-width: 600px) {
    .nav-item {
        margin: 5px;
        padding: 5px;
    }
    .nav-item a {
        font-size: 20px;
    }
    .nav {
        padding: 0.5rem;
    }
    .nav-content {
        flex-direction: column;
        align-items: flex-start;
    }
    .nav ul{
        display: flex;
        
        justify-content: space-evenly;
        position: absolute;
        top: 15vh;
        right: 0;
        width: 100%;
        background:rgb(51, 51, 51);
    }

    .nav ul li{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
    }
    
    .desktopNav{
        display: none;
    }

    .mobileNav{
        display: flex;
        align-items: center;
        height: 15vh;
        background-color: #434343;
    }



    .HamburgerMenu{
        position: absolute;
        right: 2%;
        cursor: pointer;
    }
}
