@font-face {
    font-family: 'Poppins-Bold';
    src: url('../public/font/Poppins-Bold.ttf');
}

/* CSS for screens smaller than 600px (like mobile devices) */
@media (max-width: 600px) {
    .container {
        flex-direction: column;
        align-items: center;
    }

    .mainContent {
        flex-direction: column;
        align-items: center;
        margin: 5px;
        padding: 5px;
        font-size: 10px;
    }
}

.container {
    display: flex;
    flex-direction: column;
    padding: 2px;
    margin: 2px;
    width: 100%;

}

.mainContent{
    display: flex;
    align-items: center;
    margin: 10px;
    padding: 10px;
    border: 4px solid black;
    border-radius: 5px;

}
.bodyDescription{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    padding: 10px;
    border: 4px solid black;
    border-radius: 5px;
    background-color: #61dafb;
    color: #282c34;
    font-size: 20px;
    font-style: oblique;
}

.bodyDescription article{
    margin: 10px;
    padding: 10px;
    width: 100%;
    border: 4px solid black;
    border-radius: 5px;
    background-color: #61dafb;
    color: #282c34;
    font-style: oblique;

}

.resources {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    background-color: #282c34;
    border: #282c34;
    border-radius: 5px;
    color: #fff;

}

.resources ul li{
    list-style-type: none;
    margin: 5px;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;

}

.resources ul li::before {
    content: "🔹";
    margin-right: 5px;
  }