@font-face {
    font-family: 'Ubuntu-Regular';
    src: url(
      '/font/Ubuntu-Regular.ttf'
    ) format('truetype'
    );
  }
  
  @font-face {
    font-family: 'Ubuntu-Bold';
    src: url(
      '/font/Ubuntu-Bold.ttf'
    ) format('truetype'
    );
  }
  
  @font-face {
    font-family: 'Ubuntu-Medium';
    src: url(
      '/font/Ubuntu-Medium.ttf'
    ) format('truetype'
    );
  }

/* CSS for screens smaller than 600px (like mobile devices) */

@media (max-width: 600px) {
    .container {
        flex-direction: column;
        align-items: center;
    }

    .mainContent {
        flex-direction: column;
        align-items: center;
        margin: 5px;
        padding: 5px;
        font-size: 10px;
    }

    .bodyDescription {
        flex-direction: column;
        align-items: center;
        margin: 5px;
        padding: 5px;
        font-size: 10px;
    }

}

.container {
    display: flex;
    flex-direction: column;
    padding: 2px;
    margin: 2px;
    width: 100%;

}

.mainContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;

}
.bodyDescription{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    color: #282c34;
    font-size: 20px;
}

.bodyDescription article{
    margin: 10px;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    background-color: #61dafb;
    color: #282c34;
    font-family: 'Ubuntu-Regular', Courier, monospace;

}

.bannerInformation{
    display: flex;
    flex-direction:row;
}

.resources {
    display: flex;
    flex-direction: column;
    justify-content:left;
    align-items: center;
    margin: 10px;
    width: 100%;
    background-color: #282c34;
    border: #282c34;
    border-radius: 5px;
    color: #fff;

}

.resources ul{
    justify-content:left;
}

.resources ul li{
    list-style-type: none;
    margin: 5px;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;

}

.resources ul li::before {
    content: "🔹";
    margin-right: 5px;
  }


  @media (max-width: 600px) {
    .container {
        flex-direction: column;
        align-items: center;
    }

    .mainContent {
        flex-direction: column;
        align-items: center;
        margin: 5px;
        padding: 5px;
        font-size: 10px;
    }

    .bodyDescription {
        flex-direction: column;
        align-items: center;
        margin: 5px;
        padding: 5px;
        font-size: 10px;
    }

    .bannerInformation{
        display: flex;
        flex-direction:column;
    }
}
